<html ng-app="projectApp" lang="en" class="csstransforms csstransforms3d csstransitions js cssanimations csstransitions"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
		<script src="jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="/datepicker/js/bootstrap-datepicker.js"></script>
		<link rel="stylesheet" type="text/css" href="/datepicker/css/datepicker.css">
		<script src="/js/angular.js"></script>
        <link href="/bootstrapNew/css/bootstrap.css" rel="stylesheet">
        <script src="/bootstrapNew/js/bootstrap.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/projectapp.css">
        
        <link rel="stylesheet" type="text/css" href="bootstrap/social-buttons.css">
        <link rel="stylesheet" type="text/css" href="font-awesome-4.0.1/css/font-awesome.css">
        
		<script src="/js/controllers.js"></script>
		<script src="/js/button.js"></script>

		


</head>
  <body>
    <h3>HELLO</h3>
  </body>
    <!-- Eventually add to outside script file -->
  	<!-- <script type="text/javascript">
 //          $('#myTab a').click(function (e) {
 //        e.preventDefault();
 //        $(this).tab('show');
 //        })
	// </script> -->
</html>